<DOCTYPE! html>
<head>
<title>MLaaS</title>
<style>
body {
  font-family:Arial, sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
<script type="text/javascript" charset="utf-8">
var socket = io.connect('http://' + document.domain + ':' + location.port);
socket.on('connect', function() {
    socket.emit('connected');
    console.log('Connected');
});
socket.on('debug', function(data) {
    console.log(data);
});
socket.on('status', function(package_data) {
    var dataTable=document.getElementById("data");

    // Clean up table
    for (var i = 0; i < dataTable.rows.length-1; ) {
        dataTable.deleteRow(1);
    }

    // Post data
    for (var i = 0; i < package_data.length; i++) {
        var row = dataTable.insertRow(i+1);
        var cell1 = row.insertCell(0);
        var cell2 = row.insertCell(1);
        var cell3 = row.insertCell(2);
        var cell4 = row.insertCell(3);
        cell1.innerHTML = package_data[i]['name'];
        cell2.innerHTML = package_data[i]['id'];
        cell3.innerHTML = package_data[i]['status'];
        if(package_data[i]['status'] == 'error'){
            cell3.innerHTML = "<a title='View error message' href='error?id="+package_data[i]['id']+"'>"+package_data[i]['status']+"</a>";
        }
        if(package_data[i]['status'] == 'finished'){
            cell3.innerHTML = "<a title='View result' href='result?id="+package_data[i]['id']+"'>"+package_data[i]['status']+"</a>";
        }

        var timeoutTime = package_data[i]['timeout']
        if('delete' in package_data[i]){
            timeoutTime = Math.max(package_data[i]['delete'], timeoutTime);
        }
        if(timeoutTime > 0){
            var d = new Date();
            cell4.innerHTML = Math.max(0, Math.ceil(timeoutTime - d.getTime() / 1000)) + ' s';
        }
        else{
            cell4.innerHTML = "Deletion not scheduled"
        }
    }
});

function repeat(){
    socket.emit("update")
}

setInterval(repeat, 1000);
</script>
</head>

<body>
<h1>Job Queue</h1>
<a href="/status">Status</a>
<p>These are all the packages we are processing.</p>

<table id="data">
    <tr>
        <th>Name</th>
        <th>ID</th>
        <th>Status</th>
        <th>Lifetime</th>
    </tr>
</table>

</body>
</html>