<DOCTYPE! html>
<head>
<title>MLaaS</title>
<style>
body {
  font-family:Arial, sans-serif;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
</head>

<body>
<h1>Server Diagnostics</h1>
<a href="/">Home</a>
<p>Here are some facts about the server, which are provided for debugging purposes</p>
<p>Number of connected pages: <bf>{{ page_mag }}</bf></p>
<table>
  <tr>
    <th>Client IP</th>
    <th>Client internal ID</th>
  </tr>
  {% for i in range(client_num) %}
    <tr>
      <td>{{ client_ids[i][0] }}</td>
      <td>{{ client_ids[i][1]['id'] }}</td>
    </tr>
  {% endfor %}
</table>

</body>
</html>